<!--FOOTER/FINAL DA PAGINA-->
    <footer class="footer">
    <div class="footer-container">
      <div class="footer-col">
        <h4>Endereço:</h4>
        <p>QND 15 Casa 26 - Taguatinga Norte-DF<br>CEP: 72.120-150</p>
      </div>

      <div class="footer-col">
        <h4>Contato</h4>
        <p>+55 (61) 9 9945-3755<br>
          <a href="mailto:atendimento@abcdasemocoes.com.br">atendimento@abcdasemocoes.com.br</a>
        </p>
      </div>

      <div class="footer-col social">
       <a href="https://www.facebook.com/abcdasemocoesoficial?mibextid=wwXIfr&rdid=vLQ0sVUfDm5MNUxt&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F14JaTovoWn3%2F%3Fmibextid%3DwwXIfr"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook">
        <img data-asset-src="img/facebook.png" alt="Logo Facebook">
       </a>

       <a href="https://www.instagram.com/abcdasemocoes?igsh=MWt1YXdvZ2Rud3QxZA%3D%3D"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram">
        <img data-asset-src="img/instagram.png" alt="Logo Instagram">
       </a>

       <a href="https://wa.me/5561999453755?text=Ol%C3%A1%2C%20gostaria%20de%20saber%20mais%20sobre%20o%20ABC%20das%20Emo%C3%A7%C3%B5es."
        target="_blank"
        rel="noopener noreferrer"
        aria-label="WhatsApp">
        <img data-asset-src="img/whatsapp.png" alt="Logo WhatsApp">
      </a>
      </div>
    </div>
  </footer>